* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.ball {
    position: absolute;
    padding: 100px;
    border-radius: 50%;
    background-color: blueviolet;
    display: grid;
    place-items: center;
}
.ball-2 {
    top: 50px;
    left: 50px;
}
p {
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
}